<!DOCTYPE html>
<html>
  <head>
    <title>Request - Cheerio - Async</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/js/uploadFile.js'></script>
  </head>
  <body>
    <h1>Request - Cheerio - Async</h1>
    <input type="text" placeholder="Enter url"/>
    <div class="request">Request</div>
  </body>
</html>
